@import './partials/variables';
@import './partials/buttons';
@import './partials/form';
@import './partials/font';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: $grey;
}

ul {
  list-style-type: none;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background: $grey;
  height: 100%;
  font-family: 'source_sans_proregular';

}

#app {
  //font-family: ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  height: 100vh;
  background: $white;
  color: $grey;
  position: relative;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.startup {
  padding: 20px;
  position: relative;
}

/* Flex */
.h-100 {
  height: 100%;
}

.brand-name {
  width: 50%;
  margin: 0 0 100px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.sign-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .btn {
    margin: 10px 0;
  }
}

/* Sign Up*/
.sign-up {
  .brand-name {
    margin: 0 0 30px;
  }
  h2 {
    text-transform: uppercase;
    color: $white;
    margin: 0 0 30px;
  }
}

.gradient {
  position: relative;
  height: 40%;
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    //background: -moz-linear-gradient(135deg, rgba(194, 46, 41, 1) 0%, rgba(156, 0, 0, 1) 100%); /* ff3.6+ */
    //background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(156, 0, 0, 1)), color-stop(100%, rgba(194, 46, 41, 1))); /* safari4+,chrome */
    //background: -webkit-linear-gradient(135deg, rgba(194, 46, 41, 1) 0%, rgba(156, 0, 0, 1) 100%); /* safari5.1+,chrome10+ */
    //background: -o-linear-gradient(135deg, rgba(194, 46, 41, 1) 0%, rgba(156, 0, 0, 1) 100%); /* opera 11.10+ */
    //background: -ms-linear-gradient(135deg, rgba(194, 46, 41, 1) 0%, rgba(156, 0, 0, 1) 100%); /* ie10+ */
    //background: linear-gradient(315deg, rgba(194, 46, 41, 1) 0%, rgba(156, 0, 0, 1) 100%); /* w3c */
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9C0000', endColorstr='#C22E29', GradientType=1); /* ie6-9 */
    background: rgba(140, 3, 3, 1);
    background: -moz-linear-gradient(-45deg, rgba(140, 3, 3, 1) 0%, rgba(255, 3, 3, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(140, 3, 3, 1)), color-stop(100%, rgba(255, 3, 3, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(140, 3, 3, 1) 0%, rgba(255, 3, 3, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(140, 3, 3, 1) 0%, rgba(255, 3, 3, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(140, 3, 3, 1) 0%, rgba(255, 3, 3, 1) 100%);
    background: linear-gradient(135deg, rgba(140, 3, 3, 1) 0%, rgba(255, 3, 3, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c0303', endColorstr='#ff0303', GradientType=1);
  }
  &.rounded {
    height: auto;
    overflow: hidden;
    &:before {
      border-radius: 0 0 50% 50%;
      left: -30px;
      right: -30px;
      bottom: 40%;
    }
    .user-data {
      margin: 80px 0 20px;
      .img-circle {
        width: 160px;
        height: 160px;
      }
      .user-name, .user-location {
        color: $grey;
        .fas {
          font-size: 14px;
          padding-left: 10px;
          color: $lightGrey;
        }
      }
    }
  }
}

.app-body {
  //padding: 20px;
  height: 100%;
  //overflow: hidden;
}

.signup-container {
  margin: -100px 0 0;
  background: $white;
  border-radius: 10px;
  height: auto;
  padding: 20px;
  @include box-shadow(0px -2px 20px 0px rgba(50, 50, 50, 0.4));
}

.form-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .btn {
    margin: 10px 0;
  }
  p {
    margin: 30px 0 0;
    font-size: 12px;
    color: $lightGrey;
    a {
      color: $grey;
      font-weight: 800;
    }
  }
}

.p-20 {
  padding: 20px;
}

/* Home */
.task-list {
  text-align: left;
  padding: 20px;
  li {
    padding: 15px 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 30px;
      bottom: 0;
      right: 0;
      border-bottom: 2px solid #eaeaea;

    }

    a {
      display: flex;
      align-items: center;
      .fas {
        padding: 0 15px 0 0;
        font-size: 20px;
        color: $brandColor;
      }
    }
  }
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  @include box-shadow(0px -2px 20px 0px rgba(50, 50, 50, 0.2));
  a {
    color: $grey;
    font-size: 16px;
    .fas {
      padding: 0 0 0 10px;
    }
  }
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .img-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include box-shadow(0px -2px 20px 0px rgba(50, 50, 50, 0.4));
    @media only screen and (max-width: 480px) {
      width: 100px;
      height: 100px;
      .user-img {
        width: 80px;
      }
    }
  }
  .user-img {
    width: 100px;
  }
  .user-name {
    color: $white;
    margin: 20px 0 0px;
  }
  .user-location {
    color: $white;
  }
}

.bottom-content {
  width: 100%;
  position: relative;
  height: calc(100% - 47%);
  margin: -22px 0 0;
}

.user-personal-details {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}

.details-list {
  //-webkit-box-shadow: 0px -2px 20px 0px rgba(50, 50, 50, 0.4);
  //-moz-box-shadow: 0px -2px 20px 0px rgba(50, 50, 50, 0.4);
  //box-shadow: 0px -2px 20px 0px rgba(50, 50, 50, 0.4);
  //padding: 10px;
  //  //border-radius: 6px;
  li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include box-shadow(0px -2px 20px 0px rgba(50, 50, 50, 0.4));
    margin: 0 0 20px;
    border-radius: 4px;
    font-size: 14px;
    color: $brandColor;
    span {

      font-family: 'source_sans_prosemibold';
      color: $grey;
    }
  }
}

.header {
  @include box-shadow(0px -2px 20px 0px rgba(50, 50, 50, 0.4));
  padding: 10px 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  a {
    color: $white;
    font-size: 26px;
    line-height: 0;
  }
  h2 {
    text-align: center;
    flex: 1;
  }
}

.search-component {
  padding: 0 20px;

  .form-group {
    margin: 0;
    background: $white;
    border-radius: 30px;
    position: relative;
    @include box-shadow(0px -2px 20px 0px rgba(50, 50, 50, 0.4));
    //&:before{
    //  content: '\f002';
    //  position: absolute;
    //  left: 20px;
    //  top: 10px;
    //  font-family: "Font Awesome 5 Free";
    //  color: $grey
    //}
    input {
      &.form-control {
        padding: 5px 40px;
        height: 50px;
      }
      &::placeholder {
        font-size: 12px;
      }
    }
    .fas {
      position: absolute;
      left: 15px;
      top: 18px;
      font-size: 14px;
      color: #737373;
    }
  }

}
.title{
  font-size: 4rem;
  color: $white;
}

/* User List */
.user-list {
  width: 100%;
  padding: 0;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  top: 20%;
  li {
    padding: 10px;
    .user-data-display {
      @include box-shadow(0px -2px 20px 0px rgba(50, 50, 50, 0.4));
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .user-data{
        font-size: 14px;
      }
      .user-image {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        .img-circle{
          width: 100px;
          height: 100px;
          border-radius: 50%;
          @include  box-shadow(0px -2px 20px 0px rgba(50, 50, 50, 0.4));
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 70%;
          }
        }
      }
      .user-data-content {
        text-align: left;
        .user-location{
          font-size: 12px;
          color: $lightGrey;
        }
      }
    }
  }
}