<template>
    <div class="home h-100">
        <div class="gradient">
            <div class="flex-center">
                <p class="title">Front End Developers </p>
            </div>
        </div>
        <div class="bottom-content">
            <div class="search-component">
                <div class="form-group">
                    <input type="text" class="form-control" id="search" placeholder="Search...">
                    <i class="fas fa-search"></i>
                </div>
            </div>

            <ul class="user-list">
                <li v-for="user in userList" :user="user" :key="user.id">
                    <div class="user-data-display">
                        <div class="user-image">
                        <div class="img-circle">
                            <img :src="user.img" :alt="user.altText">
                        </div>
                        </div>
                        <div class="user-data-content">
                            <!--{ name: 'Page2', params: { id: 1234 }, }-->
                            <router-link :to="{ name: 'user' , params: { id: user.id,  query: { debug: true , name: user.name, location: user.location, designation: user.designation, image: user.img, age: user.age} } }"><h4>{{user.name}}</h4></router-link>
                            <!--<router-link :to= "'/user/'+ user.id"> <h4>{{user.name}}</h4></router-link>-->
                            <p class="user-data">{{user.designation}}</p>
                            <p class="user-location">{{user.location}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <app-foot></app-foot>
    </div>
</template>

<script>
    import appFoot from '../components/app-foot'
    // import Datepicker from '../components/datepicker'

    export default {
        name: "home",
        components: {
            'app-foot': appFoot,
        },
        data () {
            return {
                debug: false,
                userList:[
                    {id: '1', name: 'Srinivas Allanki', designation: 'Lead Front End Developer', location: 'Hyderabad, India', img : require('../assets/images/user//srinivas.svg'), altText: 'FD Army', email: 'srinivasa@think.design', password: '******', age: '16', mobile: '0987654321', project: 'All'},
                    {id: '2', name: 'Praveen Pandiri', designation: 'Front End Developer', location: 'Hyderabad, India', img : require('../assets/images/user//praveen.svg'), altText: 'FD Army', email: 'praveenp@think.design', password: '******', age: '27', mobile: '0987654321', project: 'Shipa Freight'},
                    {id: '3', name: 'Prakeerth Pavuluri', designation: 'Front End Developer', location: 'Hyderabad, India' , img :  require('../assets/images/user//prakeerth.svg'), altText: 'FD Army', email: 'prakeerth@think.design', password: '******', age: '27', mobile: '0987654321', project: 'GE-Empower'},
                    {id: '4', name: 'Sandeep Veeramalla', designation: 'Front End Developer', location: 'Hyderabad, India', img : require( '../assets/images/user/sandeep.svg') , altText: 'FD Army', email: 'sandeepv@think.design', password: '******', age: '27', mobile: '0987654321', project: 'Qua Qua'},
                    {id: '5', name: 'Gowthami Manorama', designation: 'Front End Developer', location: 'Hyderabad, India' , img : require( '../assets/images/user/gowthami.svg'), altText: 'FD Army', email: 'gowthami@think.design', password: '******', age: '27', mobile: '0987654321', project: 'Playablo'},
                    {id: '6', name: 'Richa Dixit', designation: 'Front End Developer', location: 'Hyderabad, India', img : require( '../assets/images/user/richa.svg'), altText: 'FD Army' , email: 'richadixit@think.design', password: '******', age: '27', mobile: '0987654321', project: 'ABP'},
                    {id: '7', name: 'Manasa Kollu', designation: 'Front End Developer', location: 'Hyderabad, India' , img : require( '../assets/images/user/manasa.svg'), altText: 'FD Army', email: 'manasakollu@think.design', password: '******', age: '27', mobile: '0987654321', project: 'Airtel'},
                ],

            }
        },
        methods: {
            // goToUser(userID){
            //     const userId = userID;
            //     this.$router.push({name: 'user',params:{uId: userId}})
            // }
        }
    }
</script>

<style scoped>

</style>