<template>
  <div class="landing h-100">
    <div class="flex-center">
      <img src="../assets/images/logo.svg" class="brand-name">
      <div class="sign-options">
        <router-link class="btn btn-primary" to="signUp">
          Sign Up
        </router-link>
        <router-link class="btn btn-secondary" to="signIn">
          Sign In
        </router-link>
      </div>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'landing',
  components: {

  }
}
</script>
