<template>
    <div class="sign-up h-100">
        <div class="gradient">
            <div class="flex-center">
                <router-link to="/"><img src="../assets/images/logo2.svg" class="brand-name"></router-link>
                <h2>Sign Up</h2>
            </div>
        </div>
        <div class="startup p-20">
            <div class="signup-container">
                <form @submit.prevent="submit()">
                    <div class="form-group">
                        <input type="text" id="name" class="form-control" v-model="name">
                        <label for="name" class="control-label">Name </label><i class="bar"></i>
                        <i class="far fa-user"></i>
                        <span class="error" v-if="form.name">{{form.name}}</span>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" v-model="email">
                        <label for="email" class="control-label">Email </label><i class="bar"></i>
                        <i class="far fa-envelope"></i>
                        <span class="error" v-if="form.email">{{form.email}}</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" v-model="password">
                        <label for="password" class="control-label">Password </label><i class="bar"></i>
                        <i class="far fa-eye"></i>
                        <span class="error" v-if="form.password">{{form.password}}</span>
                    </div>
                    <div class="form-footer">
                        <input type="submit" id="signUp"  class="btn btn-primary" value="Sign Up" :disabled="disabledButton">

                        <button class="btn btn-fb">
                            Sign Up with Facebook
                        </button>

                        <p> Already have an account?
                            <router-link to="/signIn">Sign In</router-link>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "signUp",

        data() {
            return {
                disabledButton : true,
                name: '',
                email: '',
                password: '',
                form: [

                ]
            }
        },
        watch:{
            name(value){
                this.name = value;
                this.validateName(value);
            },
            email(value){
                this.email = value;
                this.validateEmail(value);
            },
            password(value){
                this.password = value;
                this.validatePassword(value);
            }

        },
        methods: {
            validateName(value){
                console.log(value.length);
                if ((value.length > 0 )){
                        this.form['name'] = ''
                    }
                    else{
                    this.form['name'] = "Please enter name"
                }
            },
            validateEmail(value){
                console.log(value.length);
                if(value.length < 5 || value.length < 0){
                    this.form['email'] = 'Please enter email id'
                }
                else if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)){
                        this.form['email'] = ''
                    }
                    else{
                    this.form['email'] = "Please enter a valid email id!"
                }
            },
            validatePassword(value){
                console.log(value.length);
                var passw=  /^[A-Za-z]\w{7,15}$/;
                console.log(value);
                if((value.length < 6) || (value.length < 0)) {

                    this.form['password'] = 'Please enter atleast 6 characters for password'
                }

                else
                {
                    this.form['password'] = ""
                    this.disabledButton = false;
                }

            },
            submit(){
               // var signupBtn = document.getElementById('signUp');
               //  signupBtn.classList.remove("disbaled");

                window.location="http://localhost:8080/#/signIn";
            }


        }
    }
</script>

<style scoped>

</style>