<template>
    <div class="home h-100">
        <div class="gradient">
            <div class="flex-center">
                <div class="user-data">
                    <router-link to="/user-details" class="img-circle">
                        <img :src="image" class="user-img">
                    </router-link>
                    <h2 class="user-name">{{name}} (Age: {{age}})</h2>
                    <p class="user-location"> {{location}}</p>
                </div>
            </div>
        </div>
        <div class="bottom-content">
            <ul class="task-list">
                <li v-for="task in tasklist">
                    <a href="javascript:void(0);">
                        <i :class="task.icon"></i>
                        <span class="task-name"> {{task.name}}</span></a>
                </li>
            </ul>
        </div>
        <app-foot></app-foot>
    </div>
</template>

<script>
    import appFoot from '../components/app-foot'

    export default {
        name: 'user',
        // props: ['name', 'designation', 'location', 'img', 'email', 'password', 'age', 'mobile', 'project'],
        components: {
            'app-foot': appFoot,
        },
        data() {
            return {
                // id: this.$route.params.id,
                 name: this.$route.params.query.name,
                 location: this.$route.params.query.location,
                 image: this.$route.params.query.image,
                 age: this.$route.params.query.age,
                title: 'User Details',
                user: [],
                tasklist: [
                    {name: 'Projects', icon: 'fas fa-file-archive'},
                    {name: 'Task', icon: 'fas fa-tasks'},
                    {name: 'Schedule', icon: 'fas fa-calendar-alt'},
                    {name: 'Others', icon: 'fas fa-box'},
                ],

            }
        },
        create(){
            if(this.$route.query.debug) {
                this.debug = this.$route.query.debug;
            }
        }
    }
</script>

<style scoped>

</style>