<template>
    <div class="user-details h-100">
        <app-head></app-head>
        <div class="gradient rounded">
            <div class="flex-center">
                <div class="user-data">
                    <div class="img-circle">
                        <img src="../assets/images/girl.svg" class="user-img">
                    </div>
                    <h2 class="user-name">{{username}}<a href="javascripr:void(0);"><i :class="edit"></i></a>
                    </h2>
                    <p class="user-location"> {{location}}</p>
                </div>
            </div>
        </div>
        <div class="bottom-content">
            <div class="user-personal-details">
                <ul class="details-list">
                    <li v-for="details in userdetails">
                        <span>{{details.name}}</span>
                        {{details.data}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import AppHead from '../components/app-head'

    export default {
        name: "user-details",
        components: {
            'app-head': AppHead
        },
        data() {
            return {
                userdetails: [
                    {name: 'Email', data: 'gowthami@think.design'},
                    {name: 'Password', data: '*********'},
                    {name: 'Age', data: '27'},
                    {name: 'Mobile', data: '09876543210'},
                    {name: 'Designation', data: 'Front End Developer'},
                    {name: 'Project', data: 'Playablo'},
                ],
                username: 'Gowthami Manorama',
                location: 'Hyderabad, India',
                edit: 'fas fa-pen'
            }
        }
    }
</script>

<style scoped>

</style>