.btn{
  padding: 9px 35px;
  line-height: 20px;
  font-size: 15px;
  text-transform: none;
  min-width: 150px;

  &.btn-primary{
    background: $brandColor;
    border: 2px solid $brandColor;
    text-transform: none;
    padding: 9px 35px;
    color: $white;
    position: relative;
    transition: all 0.25s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.176);
    &:hover{
      color: $brandColor !important;
      border-color: $brandColor!important;
      background: transparent;
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
    }
  }
  &.btn-secondary{
    background: $white;
    border: 2px solid $brandColor;
    text-transform: none;
    padding: 9px 35px;
    color: $brandColor;
    position: relative;
    transition: all 0.25s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.176);
    &:hover{
      color: $white !important;
      border-color: $brandColor!important;
      background: $brandColor;
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
    }
  }

  &.btn-fb{
    background: $fbColor;
    border: 2px solid $fbColor;
    text-transform: none;
    padding: 9px 35px;
    color: $white;
    position: relative;
    transition: all 0.25s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.176);
    &:hover{
      color: $white !important;
      border-color: $fbhover !important;
      background: $fbhover;
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
    }
  }


}

