/* Colors */
$grey : #242424;
$white : #fff;
$brandColor: #DE0000;
$fbColor: #4867aa;
$fbhover: #2C5CAA;
$lightGrey: #b3b3b3;

$mobile: 480px;

@mixin box-shadow($shadow){
  -webkit-box-shadow:$shadow;
  -moz-box-shadow:$shadow;
  box-shadow: $shadow;
}