<template>
    <div class="footer">
        <div class="flex-center">
            <router-link to="../signIn">Logout<i class="fas fa-sign-out-alt"></i></router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "app-foot"
    }
</script>

<style scoped>

</style>