<template>
    <div class="content">
        <div class="header">
            <router-link to="home"><i class="fas fa-angle-left"></i></router-link>
            <h2> Details </h2>
        </div>
    </div>
</template>

<script>
    export default {
        name: "topContent"
    }
</script>

<style scoped>

</style>